/***** LAYOUT *****/
html
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}

.container {
    justify-content: center;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-stretch: normal;
    padding-bottom: 50px;
}

.main {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    padding-top: 30px;
}

.flex {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* flex-wrap: wrap; */
}

.flexresult {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.maincalculator {
    z-index: 99;
}

.calculator {
    max-width: 470px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 2px 6px 2px rgba(0, 0, 0, 0.1);
    padding: 35px 40px;
}

.full {
    width: 100%;    
}

.half {
    width: 50%;
}

.last {
    padding-left: 20px;
}

.mainresult {
    padding-top: 41px;
}

.result {
    max-width: 298px;
    background-color: #eaf6fa;
    -webkit-box-sizing: border-box; /***** Safari/Chrome, other WebKit *****/
    -moz-box-sizing: border-box;    /***** Firefox, other Gecko *****/
    box-sizing: border-box;
    padding: 36px; 
    -webkit-transition: width 1s, height 3s, margin 1s, display 1.5s;
    -moz-transition: width 1s, height 3s, margin 1s, display 1.5s;
    -ms-transition: width 1s, height 3s, margin 1s, display 1.5s;
    transition: width 1s, height 3s, margin 1s, display 1.5s;
}

/***** LAYOUT END *****/

/***** TEXT & FONTS *****/

.calculator h3 {
    font-size: 16px;
    font-weight: normal;
    line-height: 1.5;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3e3d3f;
    border-bottom: 1px #cbcbcb solid;
    margin: 0;
    padding-bottom: 10px;
}

.calculator p {
    font-size: 14px;
    font-weight: bold;
    line-height: 1.21;
    letter-spacing: 0.2px;
    text-align: left;
    color: #3e3d3f;
}

header {
    border-bottom: 1px #cacaca solid;
    margin-top: 10px;
}

header h2 {
    width: 90%;
    height: 30px;
    font-size: 22px;
    font-weight: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #005175;
    padding-left: 10px;
}

.result h2 {
    font-size: 22px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.36;
    letter-spacing: normal;
    text-align: left;
    color: #3e3d3f;
}

.result h3 {
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 2.14;
    letter-spacing: normal;
    text-align: left;
    color: #3e3d3f;
    margin-bottom: 0px;
}

.result .valueresult {
    margin: 0px;
    opacity: 0.2;
    font-size: 18px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #3e3d3f;
}

.result .total {
    font-size: 18px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.67;
    letter-spacing: normal;
    text-align: left;
    color: #3e3d3f;
    border-top: solid 2px #cbcbcb;
    padding-top: 20px;
}

.result .big {
    font-size: 22px;
}

.result .active {
    opacity: 0.95;
}

span.error {
    font-size: 12px;
    font-weight: bold;
    letter-spacing: 0.3px;
    text-align: left;
    color: #da3535;
    display: none;
}

input.error {
    border: solid 1px #da3535 !important;
    margin-bottom: 2px;
}

#btnCalculate {
    font-size: 16px;
    font-weight: bold;
}

/***** TEXT & FONTS END *****/

/***** ELEMENTS *****/

.calculator input.regular {
    height: 45px;
    border-radius: 4px;
    background-color: #ffffff;
    box-shadow: 0 0 4px 0 rgba(62, 61, 63, 0.62);
    border: solid 1px #a6a6a6;
    padding: 10px 10px 10px 40px;
    font-size: 15px;
    letter-spacing: 0.3px;
}

.calculator input.regular:hover {
    border: solid 1px #3e3d3f;
}

.unit { 
    position: absolute; 
    display: block; 
    left: 25px; 
    top: 15px; 
    z-index: 9; 
    font-size: 15px;
    font-weight: normal;
    line-height: normal;
    letter-spacing: 0.3px;
    text-align: left;
    color: #3e3d3f;
}

.input-box { position: relative; }

input[type="submit"] {
    margin: 30px auto;
    height: 45px;
    border-radius: 4px;
    background-color: #0077c0;
    color: white;
}

    /** RANGE SLIDERS **/
    .slidecontainer {
        width: 100%; /* Width of the outside container */
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        /* flex-wrap: wrap; */
    }

    .slidecontainer span {
        width: 10%;
        opacity: 0.8;
        font-size: 16px;
        font-weight: normal;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: 0.3px;
        text-align: left;
        color: #3e3d3f;
        margin-top: 14px;
        text-align: center;
    }

    .slidecontainer input.val {
        width: 15%;
        padding: 0px;
        text-align: center;
    }

    input[type=range] {
        -webkit-appearance: none;
        margin: 18px 0;
        width: 100%;
        -webkit-appearance: none;
        -moz-apperance: none;
    }

    input[type=range]:focus {
        outline: none;
    }
    input[type=range]::-webkit-slider-runnable-track {
        -webkit-appearance: none;
        -moz-apperance: none;
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        background-color: transparent;
        border-radius: 100px;
        border-width: 6px 0;
    }
    input[type=range]::-webkit-slider-thumb {
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
        border-radius: 50%; 
        cursor: pointer;
        margin-top: -8px;
    }

    input[type=range]::-webkit-slider-fill-lower {
        background: #1091cc;
    }
    input[type=range]::-webkit-slider-fill-upper {
        background: #d8d8d8;
    }
    input[type=range]::-moz-range-track {
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        background-color: transparent;
        border-radius: 100px;
        border-width: 6px 0;
    }
    input[type=range]::-moz-range-thumb {
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
        border-radius: 50%; 
        cursor: pointer;
        margin-top: -8px;
    }

    input[type=range]::-ms-track {
        width: 100%;
        background: transparent;
        border-color: transparent;
        color: transparent;
        width: 100%;
        height: 8px;
        cursor: pointer;
        animate: 0.2s;
        /* background-color: #d8d8d8; */
        border-radius: 100px;
    }
    input[type=range]::-ms-fill-lower {
        background: #1091cc;
        border-radius: 100px;
    }
    input[type=range]::-ms-fill-upper {
        background: #d8d8d8;
        border-radius: 100px;
    }
    input[type=range]::-ms-thumb {
        -webkit-appearance: none;
        width: 24px;
        height: 24px;
        background-color: #ffffff;
        box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.27);
        border-radius: 50%; 
        cursor: pointer;
    }
    
    /** END RANGE SLIDERS */

/***** ELEMENTS END *****/

/***** RESPONSIVE MEDIA QUERYS *****/
@media screen and (max-width: 600px) {

    .container {
        max-width: 100%;
        width: 100%;
    }
    .main {
        max-width: 100%;
        width: 100%;
        flex-direction: column;
    }
    .maincalculator {
        padding: 0px 10px;
    }
    .calculator {
        max-width:100%;
        padding: 15px 20px;
    }
    .calculator p {
        font-size: 12px;
        font-weight: bold;
        font-style: normal;
        font-stretch: normal;
        line-height: 1.67;
        letter-spacing: 0.2px;
    }

    .mainresult {
        padding: 0px 10px;
    }
    .result {
        max-width: 100%;
        width: 10px;
        margin: 200px 50%;
        padding: 20px; 
        height: 0px;
        overflow: hidden;
        background-color: #ffffff;
    }
    
    /* .flex {
        flex-direction: column;
    } */
    .flexresult {
        flex-direction: row;
        padding: 16px 0px;
    }
    .flexresult:not(:last-child) {
        border-bottom: solid 1px #b2b2b2;
    }
    .slidecontainer input.val {
        width: 20%;
    }
    .result .total {
        border-top: none;
        padding-top: initial;
        font-size: 12px;
    }
    .result .valueresult {
        font-size: 14px;
        font-weight: bold;
    }
    .result h3 {
        margin: initial;
        font-size: 12px;
    }
    .result h2 {
        font-size: 20px;
    }
    .result .big {
        font-size: 18px;
        font-weight: bold;
    }
    .last { padding-left: 0px; }
    span.error {
        font-size: 10px;
    }
}

/***** END RESPONSIVE MEDIA QUERYS *****/